<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Auth page</title>
	<meta name="author" content="Szabados Tamás">
  <link rel="stylesheet" href="#" type="text/css"  charset="utf-8">
 
</head>
<body>
  <header>
    <h1>Login page</h1>
  </header>
  <article>
    <form action ="#", method ="post"> 
        <p> Title</p>
        <p> <input type="text", name="title"/></p>
        <p> Year</p>
        <p> <input type="text", name="year"/></p>
        <p> Genre</p>
        <p> <input type="text", name="genre"/></p>
        <p> Description</p>
        <p> <input type="text", name="description"/></p>
        <p> <input type = "submit", value = "submit"/></p>
    </form>>
  </article>
  <script></script>
</body>
  </html>