<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My movie page</title>
  <meta name="movie website" content="movies">
  <meta name="Tamás" content="SitePoint">

  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
  <header>
    <h1>The Matrix </h1>
  </header>
  <article>
    <p> Thomas A. Anderson is a man living two lives. By day he is an average computer programmer and by night a hacker known as Neo. 
        Neo has always questioned his reality, but the truth is far beyond his imagination. 
        Neo finds himself targeted by the police when he is contacted by Morpheus, a legendary computer hacker 
        branded a terrorist by the government. As a rebel against the machines, 
        Neo must confront the agents: super-powerful computer programs devoted to stopping Neo and the entire human rebellion.
    </p>
    <a href="{{ url_for('index') }}">Home</a>
  </article>
  <script></script>
</body>
</html>