body{
    margin:0;
}


article{
    width: 580px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1{
    font-size:40px; 
}
    
h2{
    color: rgb(119, 111, 111);
    font-family: sans-serif;
}

p{
    line-height:1,5;
    font-size: 20px;
}

a{
    color:black;
    font-weight:bold;
}
ul{
    list-style: none;
}